<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inner_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,452},{335,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,315}}</string>
                <key>sourceSize</key>
                <string>{335,315}</string>
            </dict>
            <key>mid_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{448,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,409}}</string>
                <key>sourceSize</key>
                <string>{448,409}</string>
            </dict>
            <key>outer_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,591}}</string>
                <key>sourceSize</key>
                <string>{591,591}</string>
            </dict>
            <key>shine.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,452},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1006,769}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25788813175779a70d5df9703138744f:d5ac0f6070d0683e4a6cdc5b181bddf4:15058cce2ad93a426e9374343a733a78$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
